*.classpath
*.lock.info
*.tfstate
*.tfstate.*
*__pycache_*
.DS_Store
.idea
.idea/
.idea/**
.idea/*.xml
.idea/*configs.zip
.settings/
*.coverage*

Middleware/commons/bin/
Middleware/emr/bin/
Middleware/schedulers/bin/

crash.log
*package-lock.json*
*package.json*
*cfn-stack-output.json*
input.tfvars
*dist/*
*.pytest_cache*
*.egg*

.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d
terraform_wrapper_*
secrets.tfvars

Backend/emr-autoscaling/node_modules
Backend/serverless-deploy/config.yml
Backend/emr-cluster-ops/.serverless/
Backend/emr-testsuites/.serverless/
Backend/emr-autoscaling/.serverless/
Backend/emr-cluster-ops/.pytest_cache
/Backend/tests/build/
/Backend/tests/dist/
/Backend/tests/quickfabric_test.egg-info/
/Backend/emr-cluster-ops/src/conf/153314662313/
/Backend/emr-cluster-ops/src/conf/460573985479/
/Backend/serverless-deploy/deploy.yml
/Backend/emr-cluster-ops/src/conf/113915884061/
/Backend/emr-cluster-ops/src/conf/460573985479/
/Backend/emr-cluster-ops/src/conf/537105309276/


emr-metadata.json
emr-nonkerb-config.json
deploy.yml

