.help-list {
    background-color: #f7f7f7;
    padding: 45px;
    width: 95%;
    /* padding-bottom: 33%; */
    border-radius: 12px;
    margin-bottom: 10px;
}
.help-list ol {
    color: #106ba3;
    font-size: 17px;
}
.help-list p {
    color: black;
    font-size: 17px;
}
.help-list-content h2 {
    margin-top: 50px;
}
.help-list-content p {
    font-size: 15px;
}
.list-1 {
    font-weight: 550;
}
.list-2 {
    font-weight: 500;
}
.help-images {
    margin: 20px;
}
.team-content {
    text-align: center;
    margin: 20px;
}
.help-container {
    padding-top: 63px;
    margin-left: 90px;
}
.help-container a {
    margin: 0 auto;
}
.subsection, .subsubsection {
    margin-left: 2%;
}