.emr-health-component {
  padding: 20px;
  margin-left: 150px;
}



.emr-health-component .cell-positive {
  background-color: #15B371;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
}

.emr-health-component .cell-negative {
  background-color: #DB3737;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
}

.a{
  color:#106ba3;
}

.mytooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.mytooltip .mytooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 100px;

  /* Position the tooltip text - see examples below! */
  position: center;
  z-index: 1;
  display: inline-block;
}

.my-span {
  width: 40px;
  margin-left: 100px;
  color:gray;
  /* Position the tooltip text - see examples below! */
  position: center;
  z-index: 1;
  display: inline-block;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mytooltip:hover .mytooltiptext {
  visibility: visible;
  display: inline-block;
}

.pt-progress-bar{
  height: 15px !important;
}
.bp3-no-stripes{
background-image: none !important;
}
.bp3-progress-meter{
  background-image: none !important;
}
/* .pt-progress-meter{
  -webkit-animation : none !important;
  animation : none !important;
} */
.emremoji-text {
  margin-top: 10px;
  margin: 2px;
  padding: 0;
  font-size: 20px;
  display: inline-block;
}

.emremoji-green {
  margin-top: 10px;
  width: 25px;
  height: 30px;
  background-color: #7ED321;
  border-radius: 1px;
  display: inline-block;
}

.emremoji-red {
  margin-top: 10px;
  width: 25px;
  height: 30px;
  background-color: #FF4D4D;
  border-radius: 1px;
  display: inline-block;
}


/* .deni-react-treeview-container {
  background-color:transparent;
  border-color:transparent;
  font-size: 14px;
  border:none;
  padding-left: 0px;
  width: auto;
  height: auto; 
  color:#106ba3;
} */
.deni-react-treeview-item-container.classic {
  color:#106ba3;
}

.deni-react-treeview-item-container.classic {
  color:#106ba3;
}

.displayTimer{
  margin-top: 10px;
  height: 30px;
  color:orangered;
  border-radius: 1px;
  margin-right: 20px;
  float:right ;
  display: flex;
  font-weight: bold;

}

.button-div{
  margin-left: 50px;
  background-color: #4CAF50;
  color: white;
  float: right;
  height: auto;
  width: auto;
  border-radius: 1px;
}

.combobox-container {
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.combobox-dropdown {
  font-size: 18px;
  border: 0px;
  width: 100%;
  color: #212529;
  background-color: #fff;
}

.required::after{
  content: "*";
  color: red;
}

.title-arrow {
  position: relative;
  top: 5px;
  font-size: 1em !important;
}
.header-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  padding-right: 30px
}
.header-row .toggle-blue-container {
  width: 5%;
  display: inline-block;
}
.header-row .empty-container {
  width: 67%;
  height: 100%;
  display: inline-block;
}
.header-row .refresh-container {
  width: 27%;
  
  display: inline-block;
  text-align: right;
  font-size: 16px;
}
.header-row .refresh-container p {
  font-weight: 500;
  margin-bottom: 0px;
}
.header-row .refresh-container span {
  padding: 0px 8px;
  font-size: 25px;
  background-color: aliceblue;
  border: 1px solid black;
  font-weight: 500;
}
.header-row .refresh-container .next-refresh {
  display: inline-block
}
.header-row .refresh-container .last-refreshed {
  margin-top: 12px;
}
.header-row .refresh-container .last-refreshed span {
 font-size: 16px;
 background: none;
 padding: 0px;
 border: none;
}
.header-row .refresh-container .seconds-span {
  padding: 0px;
  font-size: 20px;
  border: none;
  font-weight: 500;
}
.l-1 {
  display: inline-block;
  width: 35%;
  text-align: left;
}
.l-2 {
  display: inline-block;
  width: 10%;
  text-align: center;  
}
.l-3 {
  display: inline-block;
  width: 32%;
  text-align: left;
}